includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - tests/bootstrap.php
    ignoreErrors:
        -
            message: '#Method App\\Kernel::getAllowedEnvs\(\) is unused#'
            path: src/Kernel.php
