<!DOCTYPE html>

<title>Edit GameShop</title>

{% block body %}
    <h1>Edit GameShop</h1>

    {{ include('game_shop/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_game_shop_index') }}">back to list</a>

    {{ include('game_shop/_delete_form.html.twig') }}
{% endblock %}
