<!DOCTYPE html>

<title>New GameShop</title>

{% block body %}
    <h1>Create new GameShop</h1>

    {{ include('game_shop/_form.html.twig') }}

    <a href="{{ path('app_game_shop_index') }}">back to list</a>
{% endblock %}
