{% extends 'admin/admin_base.html.twig' %}

{% block title %}Редактировать торговую площадку{% endblock %}

{% block body %}
    <h1>Редактировать торговую площадку</h1>

    {{ include('admin/shop/_form.html.twig', {'button_label': 'Сохранить изменения'}) }}


    <div>
        <br><br>
        <a href="{{ path('admin_shop_index') }}" class="btn btn-outline-secondary">
            Назад к списку
        </a>
    </div>


{% endblock %}
