{% extends 'admin/admin_base.html.twig' %}

{% block title %}Добавить торговую площадку{% endblock %}

{% block body %}
    <h1>Добавить торговую площадку</h1>

    {{ include('admin/shop/_form.html.twig') }}

    <a href="{{ path('admin_shop_index') }}">Назад к списку</a>
{% endblock %}
